@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: 1 999;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
    font-weight: 1 999;
}
@font-face {
    font-family: "Playfair Display SC Black";
    src: url("/fonts/PlayfairDisplaySC-Black.ttf") format("truetype");
    font-weight: 1 999;
}

.color-test {
    color: #f7d195;
}
